.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.2, 0.9, 0.0, 1.0);
  z-index: 99;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
}
.ReactModal__Overlay--before-close{
  opacity: 0;
}
.ReactModal__Content {
  width: 90%;
  height: 0%;
  transition: height 500ms cubic-bezier(0.2, 0.9, 0.0, 1.0);
  margin: auto;
  position: relative;
  overflow: auto;
}
.ReactModal__Content--after-open{
  height: 75%;
}
.ReactModal__Content--before-close{
  height: 0%;
}

.ticket {
  font-family: 'Montserrat', sans-serif; font-weight:10; font-style:light;
  font-size: 12px;

  margin: 5px 30px;
  margin-bottom: 10px;
  margin-left: 195px;

  cursor: pointer;
  max-width: 600px;
  border-radius: 30px;
  background-color: rgb(237,237,237);
  
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
}
.ticket:hover{
  background-color: rgb(227, 227, 227);
}
.ticket h3{
  display: inline;
}
.ticket h1{
  font-family: 'Montserrat', sans-serif; font-weight:10; font-style:light;
}
.ticket-date{
  margin-left: 50px;
}
.status-container{
  height: 5px;
  width: 580px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: blue;
}

.ticket-listings input{
  font-family: 'Montserrat', sans-serif; font-weight:50; font-style:light;
  background: rgb(237,237,237);
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 15px;
  outline: none;
  border: none;
  margin-top: 20px;
  margin-left: 90px;
  width: 80%;
}

.ticket-list-container{
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: rgb(249, 249, 249);
}

.input-container input{
  display: inline;
  width: 30%;
  margin-left: 346px;
  margin-bottom: 20px;
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.2, 0.9, 0.0, 1.0);
}
.input-container input:focus{
  width: 600px;
  margin-left: 201px;
}

.ticket-sidebar{
  background-color: rgb(95, 166, 189);
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 25%;
  right: 0;

  padding-left: 20px;
}
.ticket-sidebar h1{
  font-family: 'Montserrat', sans-serif; font-weight:700; font-style:light;
  color: white;
  margin-bottom: 5px;
}
.ticket-sidebar h1:hover{
  color: rgb(237,237,237);
}
.ticket-sidebar h3{
  font-family: 'Montserrat', sans-serif; font-weight:100; font-style:light;
  color: white;
  margin-top: 5px;
}

.ticket-sidebar button{
  background: none;
  border: none;
  border-radius: 40px;
  width: 80px;
  box-shadow: 0 0 0 2pt white;
  cursor: pointer;

  position: inherit;
  padding: 5px;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

#logoutButton{
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}
#logoutButton:hover{
  width: 1.7rem;
  height: 1.7rem;
  fill: rgb(234, 234, 234);
}
.ticket-create-container{
  margin-top: 20px;
}
.ticket-create-container textarea{
  outline: none;
  border: none;
  resize: none;

  border-radius: 30px;
  min-width: 82%;
  height: 30vh;

  padding: 20px;

  font-family: 'Montserrat', sans-serif; font-weight:100; font-style:light;
  font-size: 15px;

  transition: 500ms;
  transition-timing-function: cubic-bezier(0.2, 0.9, 0.0, 1.0);
}

.ticket-create-container button{
  font-family: 'Montserrat', sans-serif; font-weight:700; font-style:light;
  color: white;
  font-size: 18px;
  width: 40%;
  margin-top: 20px;
  margin-left: 102px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.ticket-create-container button:hover{
  color: rgb(234, 234, 234);
}

/* from https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  left: 480px;
  top: 200px;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(95, 166, 189);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal Styles */
.modal-close-contianer{
  width: 100%;
}
.comment-list{
  font-family: 'Montserrat', sans-serif; font-weight:10; font-style:light;
}
.id-desc{
  font-family: 'Montserrat', sans-serif; font-weight:700; font-style:light;
  margin-bottom: 5px;
}
.user-id{
  font-family: 'Montserrat', sans-serif; font-weight:700; font-style:light;
  margin-bottom: 5px;
}
.ticket-submit-date{
  font-family: 'Montserrat', sans-serif; font-weight:400; font-style:light;
  margin-top: 0px;
  font-size: 15px;
  color: grey;
}
.comment-edit-textarea{
  resize: none;
  outline: none;
  width: 100%;
  height: 15%;
  font-family: 'Montserrat', sans-serif; font-weight:10; font-style:light;
  font-size: 15px;
}
p{
  font-family: 'Montserrat', sans-serif; font-weight:10; font-style:light;
  font-size: 15px;
}
.modal-close{
  font-size: 20px;
  position: relative;
  float: right;
  margin-left: 10px;
}
.delete-ticket{
  font-size: 20px;
  float: right;
}