.login-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(95, 166, 189);
}

.login-form-container{
    background: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 18%;
    
}

.login-form-container form{
    margin: 1px;
    padding: 20px;
    border-radius: 8px;
    max-width: 70%;
    width: 65%;
}
.login-form-container h1{
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:bold;
    font-size: 40px;
    margin: 0px;
}

.login-container input{
    font-family: 'Montserrat', sans-serif; font-weight:50; font-style:light;
    background: rgb(237,237,237);
    display: block;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 30px;
    padding-left: 10px;
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 80%;
}

.login-container button{
    width: 20%;
    margin: auto 260px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
}
#searchButton{
    width: 1.7rem;
    height: 1.7rem;
}

.login-container button:hover{
    background: rgb(170,170,170);
}

.login-container .login-error{
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:light;
    color: rgb(243, 10, 10);
    margin-top: 15px;
    text-align: center;
}

.register-container{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 2pt white;

    border-radius: 40px;
    padding: 10px;
    
    margin: auto auto;
    margin-top: 40vh;
    margin-left: 6.7vh;
    width: 70%;
}

.register-container h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif; font-weight:100; font-style:light;
    color: white;
}

.register-link{
    text-decoration: None;
}