.signup-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(95, 166, 189);
}

.signup-form-container{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:italic;
    background: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
}

.signup-form-container-register-title{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    color: rgb(0, 0, 0);
}

.signup-form-container h1{
    margin: 3px;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:bold;
    font-size: 40px;
}

.signup-container input{
    font-family: 'Montserrat', sans-serif; font-weight:50; font-style:light;
    background: rgb(237,237,237);
    display: block;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 30px;
    padding-left: 10px;
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 100vh;
}

.signup-form-container button{
    width: 19%;
    margin-left: 290px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: rgb(192,192,192);
}

.signup-form-container button:hover{
    background: rgb(170,170,170);
}

.signup-container .signup-error{
    color: red;
    margin-top: 15px;
    text-align: center;
}
.signup-container .signup-success{
    color: lightgreen;
    margin-top: 15px;
    text-align: center;
}